<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script data-goatcounter="https://cleartxt.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

    <title>No more third-party payment links over email.</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="/style.css">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/form.js"></script>
	
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22>

        <style>
           text { filter: saturate(3) contrast(1.5) }
        </style>

        <text y=%22.9em%22 font-size=%2290%22 filter=%22url(%23sat)%22>🔒</text>

    </svg>">
  </head>
  <body>
  {{ content }}
  
  <footer>
    <ul>
      <li>Hosted on <a href="https://pages.github.com/">GitHub Pages</a> </li>
      <li> By <a href="http://peterbloem.nl">Peter Bloem</a> (<a class="mastodon" href="https://sigmoid.social/@pbloem">mastodon</a>) </li>
      <li> Questions, suggestions? <a href="https://github.com/pbloem/dontmail.it/issues">Open a ticket</a></li>
      <li> See also <a href="https://cleartxt.info">cleartxt.info</a></li>
  </footer>

  </body>
</html>
